@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,700");
@import 'normalize';

* {
  box-sizing: border-box;
}

$purple: #530570;
$blue: #6253ED;
$cream: #FEFBD9;
$grey: #656565;

$monospace: 'Monaco', 'Courier New', monospace;
$baseline: 2.8rem;
$font-small: 1.4rem;
$font-normal: 2rem;

html,
body {
  background-color: #fff;
  color: $purple;
  font-size: 62.5%;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1 {
  font-size: 3.6rem;
  font-weight: 300;
  margin: 80px auto;
  text-align: center;
}

#element {
  margin: 0 auto;
  text-align: center;

  input[type=text] {
    width: 30%;
    min-width: 300px;
    font-size: 1.6rem;
  }
}

h2.markup {
  margin: 20px auto 0 auto;
  text-align: center;
  color: $grey;
  font-family: $monospace;
  font-size: 1.4rem;
}

h3 {
  font-size: $font-normal;
  line-height: $baseline;
  margin: 0 0 ($baseline/2) 0;
  font-weight: 700;
  color: $purple;
  padding: 0;
}

#knowledge {
  max-width: 80%;
  margin: 80px auto;
  overflow: hidden;

  p, li {
    font-size: $font-normal;
    line-height: $baseline;
    margin: 0;
    padding: 0;
    color: $blue;
    font-weight: 300;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & > section {
    width: 40%;
    float: left;

    &:first-child {
      padding-right: 10%;
    }
    &:nth-child(2) {
      width: 20%;
      text-align: center;
    }
    &:nth-child(3) {
      padding-left: 10%;
    }
  }
}

#webring {
  background-color: $purple;
  background: linear-gradient(to right, $purple 0%, $blue 100%);
  padding: 50px 0;
  text-align: center;
  overflow: hidden;

  .button {
    display: inline-block;
    width: 80px;
    background-color: $cream;
    border-radius: 2px;
    font-size: $font-small;
    font-style: italic;
    font-weight: 400;
    line-height: $baseline;
    color: $purple;
    text-decoration: none;

    transition: background-color 0.3s linear;

    &:hover {
      background-color: white;
    }
  }

  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 400px;
  }

  li {
    display: block;
    width: 80px;
    float: left;

    &:nth-child(2) {
      width: 240px;
      text-align: center;

      a:link,
      a:visited {
        color: $cream;
        font-size: $font-small;
        text-decoration: none;
        border-bottom: 1px solid $cream;
        line-height: $baseline;

        transition: color 0.3s linear;
      }

      a:hover {
        color: white;
      }
    }
  }
}

#social-hell {
  background: linear-gradient(to right, $purple 0%, $blue 100%);
  padding: 0 0 50px 0;

  .container {
    box-sizing: border-box;
    background-color: $cream;
    margin: 0 auto;
    width: 600px;
    border-radius: 2px;
    overflow: hidden;

    & > div {
      width: 200px;
      border-right: 1px solid $blue;
      text-align: center;
      height: 58px;
      padding: $baseline/2;
      float: left;
      margin: 0;

      &:last-child {
        border: none;
      }

      &.facebook {
        padding-top: ($baseline/2) + .5;
      }
    }
  }
}